{% extends'base.html.twig' %}

{% block title %}
    {% if form.vars.data.id %}
        Modifier un post
    {% else %}
        Ajouter un post
    {% endif %}
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form(form) }}
{% endblock %}