{% extends 'base.html.twig' %}

{% block title %}Tous les posts{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="actions-buttons">
        <a href="{{ path('new') }}" class="" title="Créer un post">
            <img src="{{ asset('/images/icons/plus.svg') }}" alt="add">
        </a>
        <a href="{{ path('export-xlsx') }}" class="" title="Export excel">
            <img src="{{ asset('/images/icons/download.svg') }}" alt="export">
        </a>
    </div>
    <div class="posts-container">
        {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <a href="{{ path('edit', {id: post.id}) }}" title="Editer">
                    <img src="{{ asset('/images/icons/edit.svg') }}" alt="edit">
                </a>
                <a href="{{ path('delete', {id: post.id}) }}" title="Supprimer">
                    <img src="{{ asset('/images/icons/delete.svg') }}" alt="delete">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}