body {
    background-color: #2f3640;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', Roboto, Arial, serif;

    a {
        text-decoration: none;
        color: #fff;
    }

    nav {
        padding: 30px 20px 20px;
        margin-bottom: 30px;
        font-size: 1.1rem;
        border-bottom: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #menu {
            a {
                display: inline-block;
                margin-right: 30px;
                padding: 5px;
                border: 1px solid rgba(355, 355, 355, 0);

                &:hover {
                    border-bottom: 1px solid #fff;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }

        a {
            img {
                width: 25px;
            }
        }
    }

    .wrapper {
        max-width: 1080px;
        margin: 0 auto;

        .actions-buttons {
            display: flex;
            justify-content: flex-end;

            a {
                margin-right: 10px;

                img {
                    width: 35px;
                    box-sizing: border-box;
                    border: 1px solid rgba(355, 355, 355, 0);

                    &:hover {
                        border: 1px solid #fff;
                        border-radius: 5px;
                    }
                }
            }
        }

        .posts-container {
            padding: 20px 0;
        }

        form {
            padding: 30px 0 0;

            #post {

                div {
                    margin-bottom: 20px;

                    label {
                        display: block;
                        margin-bottom: 5px;
                    }

                    input[type="text"] {
                        width: 40%;
                        border-radius: 5px;
                        border: none;
                        padding: 5px;
                    }

                    textarea {
                        width: 60%;
                        height: 200px;
                        resize: none;
                        border-radius: 5px;
                        padding: 5px;
                    }

                    button {
                        background-color: #007bff;
                        border-radius: .5rem;
                        color: #fff;
                        font-size: 1rem;
                        padding: 10px 15px;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            background-color: #0069d9;
                        }
                    }
                }
            }
        }
    }

    .post {
        padding: 2rem;
        background-color: #192a56;
        border-radius: .5rem;
        box-shadow: 3px 3px 3px #000;
        margin-bottom: 20px;

        h3 {
            margin-top: 0;
            font-size: 1.3rem;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 50px;
        }

        a {
            margin-right: 10px;
        }
    }
}
