<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}
        {% block nav %}

        {% endblock %}
        <div class="wrapper">
            <nav>
                <div id="menu">
                    <a href="{{ path('index') }}" {% if path('index') == currentPath %}class="active"{% endif %}>
                        Accueil
                    </a>
                    <a href="{{ path('posts') }}" {% if path('posts') == currentPath %}class="active"{% endif %}>
                        Posts
                    </a>
                </div>
                <a href="{{ path('admin') }}">
                    <img src="{{ asset('/images/icons/user.svg') }}" alt="admin"/>
                </a>
            </nav>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
