{% extends 'base.html.twig' %}

{% block title %}Dernier post{% endblock %}

{% block body %}
    {% if lastPost is empty %}
        <p>Aucun post à afficher.</p>
    {% else %}
        {{ parent() }}
        <h1>Dernier post publié</h1>
        <div class="post">
            <h3>{{ lastPost.title }}</h3>
            <p>{{ lastPost.content }}</p>
        </div>
    {% endif %}
{% endblock %}